<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
    <script type="text/javascript">
            $(function(){

                $('#slider1').Thumbelina({
                    $bwdBut:$('#slider1 .left'),    // Selector to left button.
                    $fwdBut:$('#slider1 .right')    // Selector to right button.
                });
            })
        </script>
    <style type="text/css">
            #slider1 {
                position:relative;  /* Containers need relative or absolute position. */
                margin-left:20px;
                width:100%;
                height:300px;
                border-top:1px solid #aaa;
                border-bottom:1px solid #aaa;
            }
    </style>
    <title>Booker</title>
</head>
    <body>
        <nav class="nav_navbar navbar_parent" id="nav_navbar">
            <div class="nav_container">
                <p class="logo">
                    <a class="logo_link" href="/">
                        <img src="http://booker.psdemo.ru/data/img/logo.png" width="174" height="62" alt="Аватарка">
                    </a>
                </p>
                <ul class="primer_menu">
                    <li>
                        <a href="/books/0">Все книги</a>
                    </li>
                    <li>
                        <a href="/genres">Жанры</a>
                    </li>
                     <li>
                        <a href="/authors">Авторы</a>
                    </li>
                    <li>
                        <form action="/forward/" class="search_btn" method="POST">
                          <input type="text" name="search" placeholder="Искать книгу...">
                          <button type="submit" value="Найти книгу"></button>
                        </form>
                    </li>
                    {% if current_user.is_authenticated %}
                        {% if current_user.type == "LIBRARIAN" %}
                            <li>
                                <a class="btn_login" href="/cart">Кабинет</a>
                            </li>
                        {% else %}
                             <li>
                                <a class="btn_login" href="/cart">Корзина</a>
                            </li>
                        {% endif%}
                        <li>
                            <a class="btn_exit" href="/logout">Выйти</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/login">Вход</a>
                        </li>
                        <li>
                            <a href="/register">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <footer>
            <div class="footer_content">
                <div class="footer_about_link_list">
                    <div class="footer_about_link_container">
                        <p class="footer_title">
                            Booker
                        </p>
                        <ul>
                            <li class="footer_item">
                                <a href="/">О проекте</a>
                            </li>

                             <li class="footer_item">
                                <a href="/">Контакты</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer_about_link_container">
                        <p class="footer_title">
                            Сотрудничество
                        </p>
                        <ul>
                        <li class="footer_item">
                            <a href="/">Информация</a>
                        </li>

                        <li class="footer_item">
                            <a href="/">Авторам</a>
                        </li>

                        <li class="footer_item">
                            <a href="/">Библиотекарям</a>
                        </li>
                        </ul>
                    </div>

                    <div class="footer_about_link_container">
                        <p class="footer_title">
                            Обслуживание
                        </p>
                        <ul>
                        <li class="footer_item">
                            <a href="/">Помощь</a>
                        </li>

                        <li class="footer_item">
                            <a href="/">Возврат</a>
                        </li>

                        <li class="footer_item">
                            <a href="/">Заказ</a>
                        </li>
                        </ul>
                    </div>
                </div>

            </div>
        </footer>

    </body>

</html>
