{% extends "base.html" %}
{% from "macros.html" import set_book_menu %}
{% block content %}
<div class="content">
    <main class="section_books">
        <div class="book_list">
            <ul class="book_list_items">
                {% for book in books %}
                    {{ set_book_menu(url, book["id"], book["icon_url"], book["name"], book["author"], book["description"]) }}
                {% endfor %}
            </ul>
        </div>

        <ul class="paginate">
            {% for i in range(amount_pages) %}
                <li>
                    <a href={{i}}>
                        {{i + 1}}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <!--<form class="ContextPagination__contextPagination">-->
            <!--<a href="/" class="NavigationButton__prev">-->
            <!--</a>-->

            <!--<a href="/" class="NavigationButton__next">-->
            <!--</a>-->
        <!--</form>-->
    </main>
</div>
{% endblock %}