{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="ab-container">
        <div class="block_table">
            <div class="content_column column">
                <div class="biblio_book_top block_table">
                    <div class="biblio_book_left column">
                        <div class="biblio_book_cover biblio_book_cover_type0">
                            <div class="cover">
                                <img id="biblio_book_cover_image" class itemprop="image" width="415" height="587" src={{book["image_url"]}} onerror="this.dataset.coverError = 1;" data-src={{book["image_url"]}} alt={{book["name"]}}>
                            </div>
                        </div>

                        <div class="biblio_book_other_carriers">
                            <div class="biblio_book_other_carriers__item">
                                {% if book_in_cart %}
                                    <h2>Книга в корзине</h2>
                                {% elif in_issuance %}
                                    <h2>Книга вам выдана</h2>
                                {%  elif current_user.is_authenticated %}
                                    <h2>Книга доступна для заказа</h2>
                                {% else %}
                                    <h2>Зарегистрируйтесь чтобы заказать книгу</h2>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="biblio_book_center column">
                        <div class="biblio_book_name biblio-book__title-block">
                            <h1 class="label label-text">{{book["name"]}}</h1>
                        </div>

                        <div class="biblio_book_author">
                            <h1 itemprop="name"><span class="label label-text">{{book["author"]}}</span></h1>
                        </div>

                        <div class="biblio_book_annotation">
                            <div class="biblio_book_descr_caption" role="heading" aria-level="3">Описание</div>
                            <div itemprop="description">
                                <p>{{book["description"]}}</p>
                            </div>
                        </div>
                        {% if not it_is_librarian %}
                            <div class="biblio_book_buy clicktag" id="unr_buynow" data-clicktag-id="buynow_book">
                                    {% if book_in_cart or in_issuance %}
                                        <form action="/cart" method="post">
                                            <button class="coolbtn btn-green a_buyany">
                                                <span class="uppercase">
                                                    Перейти в корзину
                                                </span>
                                            </button>
                                        </form>
                                    {% elif current_user.is_authenticated %}
                                        {% set url_action = "/add_book_card/" + book["id"] | string %}
                                         <form action={{url_action}} method="post">
                                            <button class="coolbtn btn-green a_buyany">
                                                <span class="uppercase">
                                                    Добавить в корзину
                                                </span>
                                            </button>
                                         </form>
                                    {% else %}
                                        <form action="/register" method="post">
                                            <button class="coolbtn btn-green a_buyany">
                                                <span class="uppercase">
                                                    Зарегистрируйтесь
                                                </span>
                                            </button>
                                        </form>
                                    {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}