{% macro set_book_swiper(url, id, image_url, name, author) %}
<div class="book_card swiper_slide">
    <div class="book">
        <div class="book_image" style="width: 124px; height: 196px;">
            {% set id_book = id | string %}
            {% set url_book = url + id_book %}
            <a href={{url_book}}>
                <img width="124" height="196" src={{image_url}} alt="Картинка книги" class="BookImage" srcset="{{image_url}} 2x">
            </a>
        </div>
    </div>

    <div class="book_info">
        <a class="book_name" href="/books">
            <div>
                <span width="0">
                    <span>
                        {{name}}
                    </span>
                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                        <span></span>
                    </span>
                </span>
            </div>
        </a>
        <div class="book_author_wrapper">
            <a class="book_author" href="authors">
                <div>
                    <span width="0">
                    <span>
                        {{author}}
                    </span>
                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                        <span></span>
                    </span>
                </span>
                </div>
            </a>
        </div>
    </div>
</div>
{% endmacro %}

{% macro set_book_menu(url, id, image_url, name, author, description) %}
<li class="book_list_item">
    <div class="context_book_list_item">
        <div class="ContextBookCardLong__bookWrapper">
            <div class="ContextBookCardLong__bookCover">
                <div class="BookCover__book" style="width: 112px; height: 180px;">
                    {% set id_book = id | string %}
                    {% set url_book = url + id_book %}
                    <a href={{url_book}}>
                       <img width="112" height="180" src={{image_url}} alt={{name}} class="BookCover__bookImage" srcset="{{image_url}} 2x">
                    </a>
                </div>
            </div>

            <div class="ContextBookCardLong__bookDetail">
                <div class="ContextBookCardLong__bookData">
                    <div class="ContextBookCardLong__bookTitle">
                        <a href="/author/fedor-mihajlovich-dostoevskij/prestuplenie-i-nakazanie/" style="color: #d2d4d6">
                            <div>
                                <span width="0">
                                    <span>
                                        <span>
                                            {{name}}
                                        </span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                        <span>…</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                    </div>

                    <a class="ContextBookCardLong__bookAuthor" href="/">
                       <div>
                           <span width="0">
                               <span>
                                    <span>
                                        {{author}}
                                    </span>
                               </span>
                               <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                   <span>…</span>
                               </span>
                           </span>
                       </div>
                    </a>
                </div>

                <div class="ContextBookCardLong__bookDescription">
                    {{description}}
                    <a class="ContextBookCardLong__link" href="/"></a>
                </div>
            </div>
        </div>

        <div class="ContextBookCardLong__bookDescriptionMobile">
            {{description}}
            <a class="ContextBookCardLong__link" href="/"></a>
        </div>
    </div>
</li>
{% endmacro %}