{% macro set_book_swiper(url, id, image_url, name, author) %}
<div class="book_card swiper-slide">
    <div class="book">
        <div class="book_image" style="width: 124px; height: 196px;">
            {% set id_book = id | string %}
            {% set url_book = url + id_book %}
            <a href={{url_book}}>
                <img width="124" height="196" src={{image_url}} alt="Картинка книги" class="BookImage" srcset="{{image_url}} 2x">
            </a>
        </div>
    </div>

    <div class="book_info">
        <a class="book_name" href="/books">
            <div>
                <span width="0">
                    <span>
                        {{name}}
                    </span>
                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                        <span></span>
                    </span>
                </span>
            </div>
        </a>
        <div class="book_author_wrapper">
            <a class="book_author" href="authors">
                <div>
                    <span width="0">
                    <span>
                        {{author}}
                    </span>
                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                        <span></span>
                    </span>
                </span>
                </div>
            </a>
        </div>
    </div>
</div>
{% endmacro %}

{% macro set_book_menu(url, id, image_url, name, author, description) %}
<li class="book_list_item">
    <div class="context_book_list_item">
        <div class="ContextBookCardLong__bookWrapper">
            <div class="ContextBookCardLong__bookCover">
                <div class="BookCover__book" style="width: 112px; height: 180px;">
                    {% set id_book = id | string %}
                    {% set url_book = url + id_book %}
                    <a href={{url_book}}>
                       <img width="112" height="180" src={{image_url}} alt={{name}} class="BookCover__bookImage" srcset="{{image_url}} 2x">
                    </a>
                </div>
            </div>

            <div class="ContextBookCardLong__bookDetail">
                <div class="ContextBookCardLong__bookData">
                    <div class="ContextBookCardLong__bookTitle">
                        <a href="{{url_book}}" style="color: #d2d4d6">
                            <div>
                                <span width="0">
                                    <span>
                                        <span>
                                            {{name}}
                                        </span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                        <span>…</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                    </div>

                    <a class="ContextBookCardLong__bookAuthor" href={{url_book}}>
                       <div>
                           <span width="0">
                               <span>
                                    <span>
                                        {{author}}
                                    </span>
                               </span>
                               <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                   <span>…</span>
                               </span>
                           </span>
                       </div>
                    </a>
                </div>

                <div class="ContextBookCardLong__bookDescription">
                    {{description}}
                    <a class="ContextBookCardLong__link" href="/"></a>
                </div>
            </div>
        </div>

        <div class="ContextBookCardLong__bookDescriptionMobile">
            {{description}}
        </div>
    </div>
</li>
{% endmacro %}

{% macro set_list_values(dict_values, url) %}
    <main class="main_genres content">
        <section>
            <div class="_9837af">
                {% for value in dict_values %}
                    {{ set_values(value, dict_values[value], url) }}
                {% endfor %}
            </div>
        </section>
    </main>
{% endmacro %}

{% macro set_values(name, values, url) %}
<div class="_289d24">
    <h1 class="_953327 _e86232">
        {{name}}
    </h1>
    <ul class="_b5542b">
        {% for value in values %}
            {{ set_value(value, url) }}
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro set_value(value, url) %}
<li class="_899320 _1b82e1">
    {% set id_book = value["id"] | string %}
    {% set url_value = url + id_book + "/0" %}
    <a class="_7fe79a _bf2350 _b4693b" href={{url_value}}>
        {{ value["name"] }}
    </a>
</li>
{% endmacro %}

{% macro set_book_cart(url, id, image_url, name, author) %}
<li class="book_list_item">
    <div class="context_book_list_item">
        <div class="ContextBookCardLong__bookWrapper">
            <div class="ContextBookCardLong__bookCover">
                <div class="BookCover__book" style="width: 112px; height: 180px;">
                    {% set id_book = id | string %}
                    {% set url_book = url + id_book %}
                    <a href={{url_book}}>
                       <img width="112" height="180" src={{image_url}} alt={{name}} class="BookCover__bookImage" srcset="{{image_url}} 2x">
                    </a>
                </div>
            </div>

            <div class="ContextBookCardLong__bookDetail">
                <div class="ContextBookCardLong__bookData">
                    <div class="ContextBookCardLong__bookTitle">
                        <a href="{{url_book}}" style="color: #d2d4d6">
                            <div>
                                <span width="0">
                                    <span>
                                        <span>
                                            {{name}}
                                        </span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                        <span>…</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                    </div>

                    <a class="ContextBookCardLong__bookAuthor" href={{url_book}}>
                       <div>
                           <span width="0">
                               <span>
                                    <span>
                                        {{author}}
                                    </span>
                               </span>
                               <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                   <span>…</span>
                               </span>
                           </span>
                       </div>
                    </a>
                </div>
                <br>
                <div class="ContextBookCardLong__bookDescription">
                    <div class="biblio_book_buy clicktag">
                        <form action="/add_book_order/" method="POST">
                            <input type="hidden" name="book" value={{id}}>
                            <button class="coolbtn a_buyany" >
                                <span class="uppercase">
                                    Получить книгу
                                </span>
                            </button>
                        </form>
                    </div>
                    <div class="biblio_book_buy clicktag">
                        <form action="/delete_book_cart/" method="POST">
                            <input type="hidden" name="book" value={{id}}>
                            <button class="coolbtn a_buyany" >
                                <span class="uppercase">
                                    Удалить из корзины
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
{% endmacro %}

{% macro set_book_order(url, issue_id, image_url, name, author) %}
<li class="book_list_item">
    <div class="context_book_list_item">
        <div class="ContextBookCardLong__bookWrapper">
            <div class="ContextBookCardLong__bookCover">
                <div class="BookCover__book" style="width: 112px; height: 180px;">
                    {% set id_book = id | string %}
                    {% set url_book = url + id_book %}
                    <a href={{url_book}}>
                       <img width="112" height="180" src={{image_url}} alt={{name}} class="BookCover__bookImage" srcset="{{image_url}} 2x">
                    </a>
                </div>
            </div>

            <div class="ContextBookCardLong__bookDetail">
                <div class="ContextBookCardLong__bookData">
                    <div class="ContextBookCardLong__bookTitle">
                        <a href="{{url_book}}" style="color: #d2d4d6">
                            <div>
                                <span width="0">
                                    <span>
                                        <span>
                                            {{name}}
                                        </span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                        <span>…</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                    </div>

                    <a class="ContextBookCardLong__bookAuthor" href={{url_book}}>
                       <div>
                           <span width="0">
                               <span>
                                    <span>
                                        {{author}}
                                    </span>
                               </span>
                               <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                   <span>…</span>
                               </span>
                           </span>
                       </div>
                    </a>
                </div>
                <br>
                <div class="ContextBookCardLong__bookDescription">
                    <div class="biblio_book_buy clicktag">
                        <form action="/return_book/" method="POST">
                            <input type="hidden" name="issue_id" value={{issue_id}}>
                            <button class="coolbtn a_buyany" >
                                <span class="uppercase">
                                    Вернуть книгу
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
{% endmacro %}